server:
  port: 8080
spring:
  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true

  # We are telling the spring boot to import the application_qa.yml and application_prod.yml files
  # We are using classpath: to import the files from the classpath
  config:
    import:
      - "classpath:application_qa.yml"
      - "classpath:application_prod.yml"

  profiles:
    active:
      - "qa"

# Read this value using @Value("${build.version}")
build:
  version: "1.0"

# Read these values using @ConfigurationProperties(prefix = "accounts")
accounts:
  message: "Welcome to EazyBank accounts related local APIs "
  contactDetails:
    name: "John Doe - Developer"
    email: "john@eazybank.com"
  onCallSupport:
    - (555) 555-1234
    - (555) 523-1345