spring:
  application:
    name: accounts
  datasource:
    url: jdbc:h2:mem:accounts
    username: sa
    password:
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.H2Dialect
    show-sql: true

server:
  port: 8080